
<% call = current_user.margin_call.requirement - current_user.margin_call.guarantee %>
<% categories.each_with_index do |cat| %>
<% break if call.zero? %>
  <div class="list-group-item" data-id="1" data-url="<%= sort_categories_path %>" id='<%= dom_id(cat) %>'>
    <div class="flex-group text-left">
      <span class="my-handle" aria-hidden="true">&#10004;</span>
      <span class="span-text">
        <%= cat.name %>
        <div class="mobile-only">
          <% if cat.name == "Stocks" %>
            <span class="span-text"><%= current_user.grab_stocks_value.format %></span>
          <% else %>
            <span class="span-text"><%= current_user.asset_value(cat.name).format %>
            </span>
          <% end %>
        </div>
      </span>
    </div>
    <%= render "./svg/#{cat.name}" %>
    <div class="mobile-hide amount">
      <% if cat.name == "Stocks" %>
        <% if call < current_user.grab_stocks_value %>
          <span class="span-text"><%= call.format %></span>
          <% call = 0 %>
        <% else %>
          <span class="span-text"><%= current_user.grab_stocks_value.format %></span>
          <% call = call - current_user.grab_stocks_value %>
        <% end %>
      <% else %>
        <% if call < current_user.asset_value(cat.name) %>
          <span class="span-text"><%= call.format %></span>
          <% call = 0 %>
        <% else %>
          <span class="span-text"><%= current_user.asset_value(cat.name).format %></span>
          <% call = call - current_user.asset_value(cat.name) %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
<div class="deposit text-right">
  <p><strong>Total: <%= (current_user.margin_call.requirement - current_user.margin_call.guarantee).format %></strong> </p>
</div>



