<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div id="items" class="list-group connectedSortable">
        <% catagories = Category.where(deny: false).order(:position) %>
        <% catagories.each_with_index do |cat| %>
          <div class="list-group-item" data-id="1" data-url="<%= sort_categories_path %>" id='<%= dom_id(cat) %>'>
            <div class="flex-group text-left">
            <span class="my-handle" aria-hidden="true">☰</span>
            <span class="span-text"><%= cat.name %></span>
            </div>
            <%= render "./svg/#{cat.name}" %>
            <div class="amount">
              <% if cat.name == "Stocks" %>
                <span class="span-text"><%= humanized_money_with_symbol(current_user.grab_stocks_value) %></span>
              <% else %>
                <span class="span-text"><%= humanized_money_with_symbol(current_user.asset_value(cat.name)) %>
                </span>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>


      <div class="deny-box">
        <% title = 'Deny List' %>
       <h2 class="text-center"><%= title.upcase! %></h2>
      </div>
      <div id="items-deny" class="row connectedSortable" style="min-height: 50px; border: 1px solid #aaa; background: #a00">
        <% catagories = Category.where(deny: true).order(:position) %>
        <% catagories.each do |cat| %>
          <div class="list-group-item" data_url="<%= sort_categories_path %>" id='<%= dom_id(cat) %>'>
            <div class="flex-group text-left">
            <span class="my-handle" aria-hidden="true">☰</span>
            <span class="span-text"><%= cat.name %></span>
            </div>
            <%= render "./svg/#{cat.name}" %>
            <div class="amount">
              <% if cat.name == "Stocks" %>
                <span class="span-text"><%= humanized_money_with_symbol(current_user.grab_stocks_value) %></span>
              <% else %>
                <span class="span-text"><%= humanized_money_with_symbol(current_user.asset_value(cat.name)) %>
                </span>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
