<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div id="items" class="list-group connectedSortable">
        <% categories = Category.where(deny: false).order(:position) %>
        <% categories.each_with_index do |cat| %>
          <div class="list-group-item" data-id="1" data-url="<%= sort_categories_path %>" id='<%= dom_id(cat) %>'>
            <div class="flex-group text-left">
            <span class="my-handle" aria-hidden="true"><%= render "./svg/Dragndrop" %></span>
            <span class="span-text">
              <%= cat.name %>
              <div class="mobile-only">
                <% if cat.name == "Stocks" %>
                  <span class="span-text"><%= current_user.grab_stocks_value.format %></span>
                <% else %>
                  <span class="span-text"><%= current_user.asset_value(cat.name).format %>
                  </span>
                <% end %>
              </div>
              </span>
            </div>
            <%= render "./svg/#{cat.name}" %>
            <div class="mobile-hide amount allow-toons">
              <% if cat.name == "Stocks" %>
                <span class="span-text"><%= current_user.grab_stocks_value.format %></span>
              <% else %>
                <span class="span-text"><%= current_user.asset_value(cat.name).format %>
                </span>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>


      <div class="deny-box">
        <% title = 'Deny List' %>
       <h2 class="text-center"><%= title.upcase! %></h2>
      </div>
      <div id="items-deny" class="row connectedSortable deny" >
        <% categories = Category.where(deny: true).order(:position) %>
        <% categories.each do |cat| %>
          <div class="list-group-item" data_url="<%= sort_categories_path %>" id='<%= dom_id(cat) %>'>
            <div class="flex-group text-left">
            <span class="my-handle" aria-hidden="true"><%= render "./svg/Dragndrop" %></span>
            <span class="span-text">
              <%= cat.name %>
              <div class="mobile-only">
                <% if cat.name == "Stocks" %>
                  <span class="span-text"><%= current_user.grab_stocks_value.format %></span>
                <% else %>
                  <span class="span-text"><%= current_user.asset_value(cat.name).format %>
                  </span>
                <% end %>
              </div>
            </span>

          </div>
          <%= render "./svg/#{cat.name}" %>
          <div class="mobile-hide amount deny-toons">
              <% if cat.name == "Stocks" %>
                <span class="span-text"><%= current_user.grab_stocks_value.format %></span>
              <% else %>
                <span class="span-text"><%= current_user.asset_value(cat.name).format %>
                </span>
              <% end %>
          </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
