<div class="row">
  <div class="col-md-8 col-md-offset-2 text-center">
    <div class="modal fade" id="modal-2">
      <div class="modal-dialog modal-md">
        <div class="modal-content"  id="landing">
          <div class="header-image" style="background-image: url(<%= image_path "modal_banner.svg" %>)">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
         <div class="modal-header landing-banner-modal ">
          <div class="modal-banner-image">
              <div class="banner-content">
                <% name = 'Get in touch' %>
                <h1><%= name.upcase! %></h1>
                <p>
                  If you want to request access, schedule a meeting or receive news of our tool in your inbox, please fill in with name and email. We promise not to spam you.
                </p>
              </div>
          </div>
         </div>
         <div class="modal-body">
          <div>
       <%= simple_form_for prospect, remote: true do |f| %>
        <%= f.input :name %>
        <%= f.input :email %>

          </div>
         </div>
         <div class="modal-footer">
           <a id="prospect-close-btn" href="" class="btn btn-default" data-dismiss="modal">Close</a>
            <%= f.button :submit, 'Submit', class: 'btn btn-primary' %>
          <% end %>

         </div>
        </div>
      </div>
    </div>
  </div>
</div>
