  <div class="container">
    <div class="margin-box">
       <% title = 'Congratulations!' %>
       <h2 class="text-center"><%= title.upcase! %></h2>
     </div>
    <div>
      <h3 class="text-center">Your margin has been successfully covered.</h3>
    </div>
    <div class="row">
      <div class ="col-xs-12 col-md-4 col-md-offset-4 money-info">
        <div class="margin-call-box">
          <span><p>Margin Requirement</p></span>
          <span><p><%= current_user.margin_call %></p></span>
        </div>
        <div class="margin-call-box">
          <span><p>Total Deposited</p></span>
          <span><p>R$7,400</p></span>
        </div>
       <!--  <div class="margin-call-box">
          <span><h2>Margin Call</h2></span>
          <span><h2>R$2,600</h2></span>
        </div> -->
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row" id="rowzinho">
      <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
        <div id="items" class="list-group">
          <div class="list-group-item"  data-id="5">
            <div class="flex-group text-left">
              <span class="span-text">Private Bonds</span>
            </div>
            <%= image_tag "receipt.svg", class:"icons" %>
            <div class="amount">
              <span class="span-text">R$<%= current_user.asset_value("Private Bonds").to_i %></span>
            </div>
            </div>
              <div class="list-group-item" data-id="1">
              <div class="flex-group text-left">
              <span class="span-text">Cash</span>
              </div>
              <%= image_tag "Cash.svg", class:"icons text-center" %>
              <div class="amount">
              <span class="span-text">R$<%= current_user.asset_value("Cash").to_i %></span>
            </div>
          </div>
            <div class="list-group-item" data-id="9">
            <div class="flex-group text-left">
              <span class="span-text">Gold</span>
            </div>
              <%= image_tag "Gold.svg", class:"icons" %>
          <div class="amount">
            <span class="span-text">R$<%= current_user.asset_value("Gold").to_i %></span>
          </div>
          </div>
        </div>
      </div>
    </div>
    <hr id="containinho">
  </div>

  <div class="container">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
     <a class="btn btn-default btninho">Return to main</a>
     <a class="btn btn-primary btninho">Print</a>
     <a class="btn btn-primary btninho">Send to email</a>
    </div>
  </div>

